<?xml version="1.0" encoding="utf-8"?>
<manifest/>
    <application>

        <!-- kpush begin -->
        <meta-data android:name="KPUSH_APPKEY" android:value="7d357c9b4ce1414fb27f077b54fb5a8f" />
        <meta-data android:name="KPUSH_CHANNEL" android:value="MAIN"/>

        <activity android:name="cn.kpush.PushActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden">
        </activity>

        <service android:name="cn.kpush.PushService">
            <intent-filter>
                <action android:name="cn.kpush.intent.SERVICE_START"/>
                <action android:name="cn.kpush.intent.SEND_MSG"/>
            </intent-filter>
        </service>

        <receiver android:name="cn.kpush.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- kpush end -->

    </application>


    <!-- kpush permission begin -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- kpush permission end -->

</manifest>
