{% extends "layout.html" %}

{% block content %}
    <ol>
        <li>下载 <a href="http://kpush.cn/media/apk/kpush_demo.apk" target="_blank">kpush_demo.apk</a> 并安装打开。</li>
        <li>访问 <a href="http://demo.kpush.cn/admin" target="_blank">demo.kpush.cn/admin</a>，登录帐号和密码为 admin, admin。</li>
        <li>进入推送页签，选择新推送，之后就可以推送消息了。如果一切顺利，手机上应该会收到push通知。</li>
        <li>推送消息之后，会跳转到推送消息列表页，刚刚推送的消息以绿色背景特殊标识。刷新可以看到实时的统计情况</li>
    </ol>

    <p>后台界面如下:</p>

    <img src="/static/img/push.png" alt="推送" class="img-rounded">
    <img src="/static/img/list.png" alt="列表" class="img-rounded">

{% endblock %}
