<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="author" content="dantezhu">
        <meta name="description" content="{% block description %}{% endblock %}">

        <title>{% block title %}{{ config.SITE_NAME }}{% endblock title %}</title>

        <link href="http://appmedia.liuyiwo.com/static/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://appmedia.liuyiwo.com/static/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="http://appmedia.liuyiwo.com/static/respond/1.4.1/respond.min.js"></script>
        <![endif]-->

        {% block head %}
        {% endblock %}

        {% include "tongji.html" %}
    </head>
    <body>
        {% include "nav.html" %}

        {% block body %}
            <div id="main_container" class="container">
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}

        <script src="http://appmedia.liuyiwo.com/static/jquery/1.9.1/jquery-1.9.1.min.js"></script>
        <script src="http://appmedia.liuyiwo.com/static/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        {% block after %}
        {% endblock %}
    </body>
</html>
