<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("index") }}">KPush</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.endpoint == 'index' %} class="active" {% endif %}><a href="{{ url_for("index") }}">首页</a></li>
                <li {% if request.endpoint == 'doc' %} class="active" {% endif %}><a href="{{ url_for("doc") }}">说明文档</a></li>
                <li {% if request.endpoint == 'demo' %} class="active" {% endif %}><a href="{{ url_for("demo") }}">在线体验</a></li>
                <li><a href="https://github.com/dantezhu/kpush" target="_blank">源码下载</a></li>
                <li {% if request.endpoint == 'contact' %} class="active" {% endif %}><a href="{{ url_for("contact") }}">联系</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
