{% extends "admin/master.html" %}

{% block body %}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if request.endpoint == 'adminnotificationview.list' %} class="active" {% endif %}><a href="{{ url_for("adminnotificationview.list") }}">历史推送</a></li>
        <li role="presentation" {% if request.endpoint == 'adminnotificationview.create' %} class="active" {% endif %}><a href="{{ url_for("adminnotificationview.create") }}">新推送</a></li>
    </ul>
    {% if request.endpoint == 'adminnotificationview.list' %}
        <div class="row">
            <div class="col-sm-12">
                {{ pagination.links }}
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>应用</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>推送时间</th>
                        <th>目标数</th>
                        <th>触达数</th>
                        <th>点击数</th>
                        <th>触达率</th>
                        <th>点击率</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notification_list %}
                        <tr>
                            <td>{{ notification.id }}</td>
                            <td>{{ notification.package }}</td>
                            <td>{{ notification.title }}</td>
                            <td>{{ notification.content }}</td>
                            <td>{{ notification.create_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                            <td>{{ notification.stat.dst }}</td>
                            <td>{{ notification.stat.recv }}</td>
                            <td>{{ notification.stat.click }}</td>
                            <td>{{ notification.stat.recv_rate }}</td>
                            <td>{{ notification.stat.click_rate }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {{ pagination.links }}
            </div>
        </div>
    {% elif request.endpoint == 'adminnotificationview.create' %}
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-12">
                <form action="" class="form-horizontal" method="post">
                    <fieldset>
                        {{ form.csrf_token }}
                        <div class="form-group {% if form.appid.errors %}has-error{% endif %}">
                            {{ form.appid.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-6 col-md-4">
                                {{ form.appid(class='form-control') }}
                                <span class="help-block">{{ form.appid.errors|first }}</span>
                            </div>
                        </div>

                        <div class="form-group {% if form.title.errors %}has-error{% endif %}">
                            {{ form.title.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-6 col-md-4">
                                {{ form.title(class='form-control') }}
                                <span class="help-block">{{ form.title.errors|first }}</span>
                            </div>
                        </div>

                        <div class="form-group {% if form.content.errors %}has-error{% endif %}">
                            {{ form.content.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-6 col-md-4">
                                {{ form.content(class='form-control') }}
                                <span class="help-block">{{ form.content.errors|first }}</span>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group {% if form.all.errors %}has-error{% endif %}">
                            {{ form.all.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-8 col-md-10">
                                <div class="checkbox">
                                    <label>
                                        {{ form.all }}
                                    </label>
                                </div>
                                <span class="help-block">{{ form.all.errors|first }}</span>
                            </div>

                        </div>

                        <div class="form-group {% if form.alias.errors %}has-error{% endif %}">
                            {{ form.alias.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-6 col-md-4">
                                {{ form.alias(class='form-control') }}
                                <span class="help-block">{{ form.alias.errors|first }}</span>
                            </div>
                        </div>

                        <div class="form-group {% if form.tags.errors %}has-error{% endif %}">
                            {{ form.tags.label(class="col-sm-4 col-md-2 control-label") }}
                            <div class="col-sm-6 col-md-4">
                                {{ form.tags(class='form-control') }}
                                <span class="help-block">{{ form.tags.errors|first }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-6 col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">立即推送</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}